.showcase {
  background-color: #ffc362;
  min-height: 550px;
  font-family: Circular, Helvetica, Arial, sans-serif;
}

.content {
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
}

.heading {
  font-size: 5rem;
  padding-top: 90px;
}

.btn {
  margin-top: 50px;
  font-size: 17px;
  font-weight: 580;
  cursor: pointer;
  color: #ffffff;
  background-color: #1db954;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  border: none;
  width: 300px;
  height: 55px;
  transition: all 0.2s ease-out;
  word-spacing: 4px;
}

.btn:hover {
  background-color: #1ed760;
}
